/ Footer
%footer.page-footer.font-small.pt-4
  / Footer Links
  .container-fluid.text-center.text-md-left
    / Grid row
    .row
      / Grid column
      .col-md-6.mt-md-0.mt-3
        / Content
        %h5.text-uppercase Turn your ocassion into a Celebration
        %p
          Venuepool is a comprehensive online platform to find venues and services for any event. It's quick, easy, reliable and absolutely FREE!
      / Grid column
      %hr.clearfix.w-100.d-md-none.pb-3/
      / Grid column
      .col-md-3.mb-md-0.mb-3
        / Links
        %h5.text-uppercase popular venue types
        %ul.list-unstyled
          %li
            banquet-Hall
          %li
            Farm-House
          %li
            Conference-Room
          %li
            Party-Lawn
          %li
            Resort
      / Grid column
      / Grid column
      .col-md-3.mb-md-0.mb-3
        / Links
        %h5.text-uppercase Other Services
        %ul.list-unstyled
          %li
            Makeup Artists
          %li
            Photographer
          %li
            DJ
          %li
            Caterers
          %li
            Decorators
      / Grid column
    / Grid row
  / Footer Links
  / Copyright
  .footer-copyright.text-center.py-3
    © 2019 Copyright
  / Copyright
/ Footer
